body {
  font-family: 'K2D', sans-serif;
}
.player, .enemy {
    width:48%;
    height:500px;
    border:1px solid red;
    margin-right:10px;
    float:left;
}
.child_div_1{
    float:left;
    margin-right:5px;
}
